{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
 <script>
$(function() {
$( "#starttime" ).datetimepicker();
$( "#endtime" ).datetimepicker();
});
</script>
    <h3>Temperature</h3>
	{{ get_date(session.start_time)}} - {{get_date(session.end_time)}}
    <p><img src="{{ url_for('plot_temperature') }}" ></p>
	<h3>Humidity:</h3>
	{{ get_date(session.start_time)}} - {{get_date(session.end_time)}}
    <p><img src="{{ url_for('plot_humidity') }}" ></p>
	{{ get_values('alarm',666)}}
	<form action="{{ url_for('update_time')}}" method=post>
      <dl>
        <dt> Start:
        <dd><input type=text id="starttime" name=starttime>
		<dt> End:   
        <dd><input type=text id="endtime" name=endtime>
		<dd><input type=submit value=Update>
      </dl>
    </form>
  {% endif %}
{% endblock %}
